@*@Html.Partial("~/Views/Shared/_modal2.cshtml")*@

@*<nav class="navbar navbar-default">*@
@*<nav class="navbar navbar-default navbar-static-top">*@
<style>
body { padding-top: 70px; }
</style>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

@*
con esto hago el llamado a _modal2  
data-toggle="modal" data-target="#myModal"
*@
@*<button type="button" class="navbar-toggle collapsed" data-toggle="modal" data-target="#myModal">Modal Min</button>
<a class="navbar-brand" data-toggle="modal" data-target="#myModal">Modal Max</a>
<a class="navbar-brand" href="/Home/Grid")> dfsfsdfs</a>
<li>@Html.ActionLink("Mensaje", "Accion", "Controller")</li>
*@

      <a class="navbar-brand" href="/Home/Index")> INICIO </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">



      <ul class="nav navbar-nav">
        @*<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>*@
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("Mensaje-Index", "Index", "Home")</li>
                          <li role="separator" class="divider"></li>
            <li>@Html.ActionLink("Mensaje-Grid", "Grid", "Home")</li>
                          <li role="separator" class="divider"></li>
            <li>@Html.ActionLink("Mensaje", "Accion", "Controller")</li>
                          <li role="separator" class="divider"></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


@*
si se usa 
<nav class="navbar navbar-default navbar-fixed-top">
agrego este style para asegurar que no quite una parte al body
<style>
body { padding-top: 70px; }
</style>
*@